.index {
    background-color: rgb(221, 219, 215);
    border-radius: 0.5em;
}

#title {
    text-align: center;
    padding-top: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5em;
}

.abstract {
    text-align: center;
    margin-bottom: 15px;
}

#img-div {
    background-color: white;
}

img {
    display: block;
  /*  padding: 0 10px 40px 10px; */
    margin: 0 auto;
}

#image {
    width: 50%;
    max-width: 100%;
    height: auto;
}

#img-caption {
    text-align: center;
    letter-spacing: 0.1em;
    font-family:'Times New Roman', Times, serif;
    font-size: 14px;
    margin: -25px auto 15px auto;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.info-heading {
    text-align: center;
    margin: 40px auto;
    font-size: 21px;
    font-weight:bold ;
}

ul {
    margin: 20px 40px;
}

span {
    font-weight: bold;
}

li {
    max-width: 85%;
    font-size: 18px;
    margin-top: 12px;
    text-align:start;
}

.tributeByLeader {
    margin: auto 25px;
    padding:30px 30px 7px 30px;
    max-width: 100%;
    height: auto;
    font-style: italic;
    font-size: 18px;
}

.nameOfLeader {
    max-width: 100%;
    padding-left: 55px;
    height: auto;
    font-style: italic;
    font-size: 18px;
}

#footer {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
    padding: 30px;
}